# Jupyter
jupyter
ipykernel
ipyleaflet
ipywidgets
nbformat

# Linting
wemake-python-styleguide

# Local tile server
localtileserver

# Map service
rasterio
geojsoncontour

# Visualization
matplotlib
dash

# Data science
pandas
numpy

# Big data
datashader