# Data science
pandas
numpy
opencv-python
supervision
scikit-learn
scikit-image

# Bioinformatics
scanpy

# Visualization
matplotlib
dash

# Big data
datashader

# Map service
rasterio
geojsoncontour
localtileserver

# Jupyter
jupyter
ipykernel
ipyleaflet
ipywidgets
nbformat

# Linting
wemake-python-styleguide
